body {
  background-color: #16568b;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../imagens/rogerbredes.jpeg);
}
 
div {
  border: 1px solid rgb(0, 26, 196);
  padding: 5px;
  border-radius: 10px;
  margin: 15px;
  font-size: 24px;
}
 
button{
	border: 3px solid rgb(75, 75, 224);
	border-radius: 12px;
	font-size: 24px;
	margin: 15px;
	padding: 5px;
	background-color: #C4D7E0;
}
 
input{
    width:75px;
    padding:5px;
    box-sizing: border-box;
    font-size: 20px;
}
 
#container{
	width: 900px;
 
}
 
#resposta{
	 width: 400px;
}
.titulo{
	background-color: #B2C8DF;
	color: rgb(255, 255, 255);
	font-size: 36px;
}
 
.texto{
	margin: 15px;
}
