<head>
	<meta charset="UTF-8">
	<title>Fatorial</title>
	<link rel="stylesheet" href="css/estilos.css">
</head>
<body>
	<div id="container">
		<div class="titulo">
			Calculo de fatorial
		</div> 
		<hr>
		<span class="texto">Digite qualquer número inteiro N: </span> <input type="number" id="N" onfocus="limpar()" onclick="limpar()" />
		<br>
		<button onclick="calc_fat()" >Calcular Fatorial</button>
		<div id="resposta" >
 
		</div>
 	</div>
 	<script src="js/scripts.js"></script>
</body>
</html>
